#welcome-text{
    border: 4px #fff;
    border-radius: 2rem;
    border-style: double;
    line-height: 1.6;
    background: #2e7d32ee;
}

#welcome{
    height: 100%;
}

#welcome>.MuiSvgIcon-root {
    position: relative;
    background: #fff;
    top: 1.5rem;
    left: 3rem;
    border-radius: 50%;
    z-index: 99;
}